#loancalc{
    width: 375px;
    height: 295px;
    background-color: #056;
    color: #33bedd;
    margin-left: 275px;
    margin-top: 95px;
    padding-left: 90;
}

p{
    font-size: 20px;
    margin: 30px 20px;
}

#totalAmount{
    height: 20px;
    width: 175px;
}

#rate{
    height: 20px;
    width: 175px;
    margin-left: 2px;
}

#months{
    height: 20px;
    width: 175px;
}